body {
  /* font-family: 'Noto Sans SC','Noto Serif SC','Microsoft YaHei','Songti SC',  serif; */
  font-family: 'Noto Serif SC','Microsoft YaHei','Songti SC',  serif;
}
code {
  font-family: Hack, Roboto, Consolas, Courier, 'Courier New', 'STKaiti', 'KaiTi', 'SimKai', monospace;
}
pre, code {
  font-size: 1em;
}
