<!DOCTYPE html>
<html lang="en-us">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Vue.js实战读书笔记（3） - Rehoni | 罗皓</title>
    <meta property="og:title" content="Vue.js实战读书笔记（3） - Rehoni | 罗皓">
    
    <meta name="twitter:card" content="summary">

    
    
      
    

    
      
      <meta property="description" content="props 传递数据、 events 触发事件和 slot 内 容分发就构成了 Vue 组件的 3 个 API 来源，再复杂的组件也是由这 3 部分构成的。
[&amp;hellip;] 作用域：slot分发的内容作用域是在父组件上的。
[&amp;hellip;] slot用法：
[&amp;hellip;] &amp;lt;div id=&amp;#34;app&amp;#34;&amp;gt; &amp;lt;my-list &amp;hellip;">
      <meta property="og:description" content="props 传递数据、 events 触发事件和 slot 内 容分发就构成了 Vue 组件的 3 个 API 来源，再复杂的组件也是由这 3 部分构成的。
[&amp;hellip;] 作用域：slot分发的内容作用域是在父组件上的。
[&amp;hellip;] slot用法：
[&amp;hellip;] &amp;lt;div id=&amp;#34;app&amp;#34;&amp;gt; &amp;lt;my-list &amp;hellip;">
      
    

    
    
    
    
    <meta name="twitter:image" content="/images/logo.jpg">
    
    

    

    
    


<link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.1.0/build/styles/monokai-sublime.min.css">



    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/fonts.css" />
    
<script async src="/js/load-typekit.js"></script>


<link rel="stylesheet" href="/css/custom.css" />

  </head>
  <body class="cn">
    <header class="masthead">
      

<h1><a href="/"><img src="/images/logo.jpg" alt="Luo Hao" /></a></h1>



      <nav class="menu">
  <ul>
  
  
  <li><a href="/">首页</a></li>
  
  <li><a href="/cn/about/">关于</a></li>
  
  <li><a href="/cn/">日志</a></li>
  
  <li><a href="/categories/">分类</a></li>
  
  <li><a href="/tags/">标签</a></li>
  
  <li><a href="/cn/vitae/">简历</a></li>
  
  <li><a href="/en/">English</a></li>
  
  

<li class="menu-extra"></li>



<li><a href="https://github.com/rehonicn%5c2019%5c2019-03-08-vue-3.md" target="_blank">编辑</a></li>


<li><a href="/cn/index.xml" type="application/rss+xml" title="RSS feed">订阅</a></li>

<li><a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" title="Attribution-NonCommercial-ShareAlike 4.0 International">版权</a></li>


  </ul>
</nav>

    </header>

    <article class="main">
      <header class="title">
      
<h1>Vue.js实战读书笔记（3）</h1>


<h3>Rehoni / 
2019-03-08</h3>

<hr>


      </header>





<h3 id="slot分发内容">slot分发内容</h3>
<p>props 传递数据、 events 触发事件和 slot 内 容分发就构成了 Vue 组件的 3 个 API 来源，再复杂的组件也是由这 3 部分构成的。</p>
<ol>
<li>
<p>作用域：slot分发的内容作用域是在父组件上的。</p>
</li>
<li>
<p>slot用法：</p>
<ol>
<li>单个slot：父组件中进入子组件child-component，在child-component的模板内定义一个＜slot&gt;元素，并且用一个＜p＞作为默认的内容，在父组件没有使用 slot 时，会渲染这段默认的文本；如果写入了 slot， 那就会替换整个＜slot&gt;。 <strong>子组件<code>&lt;slot&gt;</code>内的备用内容，它的作用域是子组件本身</strong>。</li>
<li>具名slot：给＜slot&gt;元素指定一个 name 后可以分发多个内容，具名 Slot 可以与单个 Slot 共存。其中在＜div class＝”main与内的＜slot&gt; 没有使用 name 特性，它将作为默认 slot 出现，父组件没有使用 slot 特性的元素与内容都将出现在这里。如果没有指定默认的匿名 slot，父组件内多余的内容片段都将被抛弃。</li>
<li>作用域插槽：在＜slot&gt;元素上有一个类似 props 传递数据给组件的写法 msg＝”xxx”，将数据传到了插槽。父组件中使用了＜template＞元素，而且拥有一个 scope＝”props”的特性，这里的 props只是一个临时变量，就像 v-for=”item in items，里面的 item 一样。 template 内可以通过临时变量 props访问来自子组件插槽的数据 msg 。如果下例还在其他组件内使用，＜Ii＞的内容渲染权是由使用者掌握的，而数据却可以通过临时变量（比如 props ）从子组件内获取。</li>
<li>通过$slots 可以访问某个具名 slot, this .$slots.default 包括了所有没有被包含在具名 slot 中的节点。$slots 在业务中几乎用不到 ， 在用 render 函数（进阶篇中将介绍）创建组件时会比较有用，但主要还是用于独立组件开发中。</li>
</ol>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-html" data-lang="html"><span style="display:flex;"><span>&lt;<span style="color:#f92672">div</span> <span style="color:#a6e22e">id</span><span style="color:#f92672">=</span><span style="color:#e6db74">&#34;app&#34;</span>&gt;
</span></span><span style="display:flex;"><span>  &lt;<span style="color:#f92672">my-list</span> <span style="color:#a6e22e">:books</span><span style="color:#f92672">=</span><span style="color:#e6db74">&#34;books&#34;</span>&gt;<span style="color:#75715e">&lt;!--这里用v-bind语法糖，绑定父组件data中的book传入--&gt;</span>
</span></span><span style="display:flex;"><span>    <span style="color:#75715e">&lt;!--作用域插槽也可以是具名slot--&gt;</span>
</span></span><span style="display:flex;"><span>    &lt;<span style="color:#f92672">template</span> <span style="color:#a6e22e">slot</span><span style="color:#f92672">=</span><span style="color:#e6db74">”book”</span> <span style="color:#a6e22e">scope</span><span style="color:#f92672">=</span><span style="color:#e6db74">”props</span> <span style="color:#960050;background-color:#1e0010">”</span>&gt;
</span></span><span style="display:flex;"><span>      &lt;<span style="color:#f92672">li</span>&gt; {{props.bookName}}&lt;/<span style="color:#f92672">li</span>&gt;
</span></span><span style="display:flex;"><span>    &lt;/<span style="color:#f92672">template</span>&gt;
</span></span><span style="display:flex;"><span>  &lt;/<span style="color:#f92672">my-list</span>&gt;
</span></span><span style="display:flex;"><span>&lt;/<span style="color:#f92672">div</span>&gt;
</span></span><span style="display:flex;"><span>&lt;<span style="color:#f92672">script</span>&gt;
</span></span><span style="display:flex;"><span>  <span style="color:#a6e22e">Vue</span>.<span style="color:#a6e22e">component</span>(<span style="color:#e6db74">&#39;my-list&#39;</span>,{
</span></span><span style="display:flex;"><span>    <span style="color:#a6e22e">props</span><span style="color:#f92672">:</span>{
</span></span><span style="display:flex;"><span>      <span style="color:#a6e22e">books</span><span style="color:#f92672">:</span>{
</span></span><span style="display:flex;"><span>        <span style="color:#a6e22e">type</span><span style="color:#f92672">:</span>Array,
</span></span><span style="display:flex;"><span>        <span style="color:#66d9ef">default</span><span style="color:#f92672">:</span><span style="color:#66d9ef">function</span>(){
</span></span><span style="display:flex;"><span>          <span style="color:#66d9ef">return</span> [];
</span></span><span style="display:flex;"><span>        }
</span></span><span style="display:flex;"><span>      }
</span></span><span style="display:flex;"><span>    },
</span></span><span style="display:flex;"><span>    <span style="color:#a6e22e">template</span><span style="color:#f92672">:</span><span style="color:#e6db74">&#39;\
</span></span></span><span style="display:flex;"><span><span style="color:#e6db74">    &lt;ul&gt;\
</span></span></span><span style="display:flex;"><span><span style="color:#e6db74">      &lt;slot name=&#34;book&#34;\
</span></span></span><span style="display:flex;"><span><span style="color:#e6db74">      v-for=&#34;book in books&#34;\
</span></span></span><span style="display:flex;"><span><span style="color:#e6db74">      &lt;!--这里的:book-name对应props.bookName，是由驼峰命名法转化位kebab-case命名的--&gt;\
</span></span></span><span style="display:flex;"><span><span style="color:#e6db74">      :book-name=&#34;book.name&#34;&gt;\
</span></span></span><span style="display:flex;"><span><span style="color:#e6db74">      &lt;!--这里也可以写默认 slot 内容--&gt;\
</span></span></span><span style="display:flex;"><span><span style="color:#e6db74">      &lt;/slot&gt;\
</span></span></span><span style="display:flex;"><span><span style="color:#e6db74">    &lt;/ul&gt;&#39;</span>
</span></span><span style="display:flex;"><span>  });
</span></span><span style="display:flex;"><span>
</span></span><span style="display:flex;"><span>  <span style="color:#66d9ef">var</span> <span style="color:#a6e22e">app</span> <span style="color:#f92672">=</span> <span style="color:#66d9ef">new</span> <span style="color:#a6e22e">Vue</span>({
</span></span><span style="display:flex;"><span>    <span style="color:#a6e22e">el</span><span style="color:#f92672">:</span><span style="color:#e6db74">&#39;#app&#39;</span>,
</span></span><span style="display:flex;"><span>    <span style="color:#a6e22e">data</span><span style="color:#f92672">:</span>{
</span></span><span style="display:flex;"><span>      <span style="color:#a6e22e">books</span><span style="color:#f92672">:</span>[
</span></span><span style="display:flex;"><span>        {<span style="color:#a6e22e">name</span><span style="color:#f92672">:</span><span style="color:#e6db74">&#39;book1&#39;</span>},
</span></span><span style="display:flex;"><span>        {<span style="color:#a6e22e">name</span><span style="color:#f92672">:</span><span style="color:#e6db74">&#39;book2&#39;</span>},
</span></span><span style="display:flex;"><span>        {<span style="color:#a6e22e">name</span><span style="color:#f92672">:</span><span style="color:#e6db74">&#39;book3&#39;</span>}
</span></span><span style="display:flex;"><span>      ]
</span></span><span style="display:flex;"><span>    }
</span></span><span style="display:flex;"><span>  })
</span></span><span style="display:flex;"><span>&lt;/<span style="color:#f92672">script</span>&gt;
</span></span></code></pre></div></li>
</ol>
<h3 id="组件高级用法">组件高级用法</h3>
<ol>
<li>组件递归
组件在它的模板内可以递归地调用自己 ， 只要给组件设置 name 的选项就可以了。设置 name 后，在组件模板内就可以递归使用了，不过需要注意的是，必须给一个条件来限制递归数量，否则会抛出错误 ： max stack size exceeded 。组件递归使用可以用来开发一些具有未知层级关系的独立组件，比如级联选择器和树形控件等</li>
</ol>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-html" data-lang="html"><span style="display:flex;"><span><span style="color:#75715e">&lt;!--父组件中--&gt;</span>
</span></span><span style="display:flex;"><span>&lt;<span style="color:#f92672">child-component</span> <span style="color:#a6e22e">:</span> <span style="color:#a6e22e">count</span><span style="color:#f92672">=</span> <span style="color:#e6db74">&#34;1&#34;</span> &gt;<span style="color:#960050;background-color:#1e0010">&lt;</span>/child- component&gt;
</span></span><span style="display:flex;"><span><span style="color:#75715e">&lt;!--子组件中--&gt;</span>
</span></span><span style="display:flex;"><span>&lt;<span style="color:#f92672">child-component</span> <span style="color:#a6e22e">:count</span><span style="color:#f92672">=</span><span style="color:#e6db74">&#34;count + 1&#34;</span>  <span style="color:#a6e22e">v-if</span><span style="color:#f92672">=</span><span style="color:#e6db74">&#34;count &lt; 3&#34;</span> &gt;<span style="color:#960050;background-color:#1e0010">&lt;</span>/child- component&gt;
</span></span></code></pre></div><ol start="2">
<li>
<p>内联模板
组件的模板一般都是在 template 选项内定义的， Vue 提供了一个内联模板的功能，在使用组件时，给组件标签使用 inline- mplate 特性，组件就会把它的内容当作模板，而不是把它当内容分发，这让模板更灵活。
在父组件中声明的数据 message 和子组件中声明的数据 msg ， 两个都可以渲染（如果同名，优先使用子组件的数据）。这反而是内联模板的缺点，就是作用域比较难理解，如果不是非常特殊的场景 ， 建议不要轻易使用内联模板。</p>
</li>
<li>
<p>动态组件 <code>&lt;component :is=&quot;currentView&quot;&gt;&lt;/component&gt;</code>动态改变currentView的值就可以动态挂载组件了，也可以直接绑定在组件对象上。</p>
</li>
<li>
<p>异步组件
工厂函数接收一个 resolve 回调，在收到从服务器下载的组件定义时调用。也可以调用reject(reason)指示加载失败。这里 setTimeout 只是为了演示异步，具体的下载逻辑可以自己决定，比如把组件配置写成一个对象配置，通过 Ajax 来请求，然后调用 resolve 传入配置选项。</p>
</li>
</ol>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-html" data-lang="html"><span style="display:flex;"><span>&lt;<span style="color:#f92672">div</span> <span style="color:#a6e22e">id</span><span style="color:#f92672">=</span><span style="color:#e6db74">&#34;app&#34;</span>&gt;
</span></span><span style="display:flex;"><span>    &lt;<span style="color:#f92672">child-component</span>&gt;&lt;/<span style="color:#f92672">child-component</span>&gt;
</span></span><span style="display:flex;"><span>&lt;/<span style="color:#f92672">div</span>&gt;
</span></span><span style="display:flex;"><span>&lt;<span style="color:#f92672">script</span>&gt;
</span></span><span style="display:flex;"><span>    <span style="color:#a6e22e">Vue</span>.<span style="color:#a6e22e">component</span>(<span style="color:#e6db74">&#39;child-component&#39;</span>,
</span></span><span style="display:flex;"><span>        <span style="color:#66d9ef">function</span> (<span style="color:#a6e22e">resolve</span>, <span style="color:#a6e22e">reject</span>) {
</span></span><span style="display:flex;"><span>            window.<span style="color:#a6e22e">setTimeout</span>(<span style="color:#66d9ef">function</span> () {
</span></span><span style="display:flex;"><span>                <span style="color:#a6e22e">resolve</span>({
</span></span><span style="display:flex;"><span>                    <span style="color:#a6e22e">template</span><span style="color:#f92672">:</span> <span style="color:#e6db74">&#39;&lt;div＞我是异步渲染的&lt;/div＞&#39;</span>
</span></span><span style="display:flex;"><span>                });
</span></span><span style="display:flex;"><span>            }, <span style="color:#ae81ff">2000</span>)
</span></span><span style="display:flex;"><span>        });
</span></span><span style="display:flex;"><span>    <span style="color:#66d9ef">var</span> <span style="color:#a6e22e">app</span> <span style="color:#f92672">=</span> <span style="color:#66d9ef">new</span> <span style="color:#a6e22e">Vue</span>({
</span></span><span style="display:flex;"><span>        <span style="color:#a6e22e">el</span><span style="color:#f92672">:</span> <span style="color:#e6db74">&#39;#app&#39;</span>
</span></span><span style="display:flex;"><span>    })
</span></span><span style="display:flex;"><span>&lt;/<span style="color:#f92672">script</span>&gt;
</span></span></code></pre></div>


  <footer>
  
<nav class="post-nav">
  <span class="nav-prev">&larr; <a href="/cn/2019/2019-03-07-vue-1/">Vue.js实战读书笔记（1）</a></span>
  <span class="nav-next"><a href="/cn/2019/2019-03-08-vue-2/">Vue.js实战读书笔记（2）</a> &rarr;</span>
</nav>
<script type="text/javascript">
document.addEventListener('keyup', function(e) {
  if (e.target.nodeName.toUpperCase() != 'BODY') return;
  var url = false;
  if (e.which == 37) {  
    
    url = '\/cn\/2019\/2019-03-07-vue-1\/';
    
  } else if (e.which == 39) {  
    
    url = '\/cn\/2019\/2019-03-08-vue-2\/';
    
  }
  if (url) window.location = url;
});
</script>






<script async src="/js/fix-toc.js"></script>

<script async src="/js/center-img.js"></script>

<script async src="/js/right-quote.js"></script>

<script async src="/js/no-highlight.js"></script>

<script async src="/js/fix-footnote.js"></script>

<script async src="/js/math-code.js"></script>

<script async src="/js/external-link.js"></script>

<script async src="/js/alt-title.js"></script>

<script async src="/js/header-link.js"></script>



<script async src="//mathjax.rstudio.com/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>


  























<script src="//cdn.jsdelivr.net/combine/gh/highlightjs/cdn-release@10.1.0/build/highlight.min.js,npm/@xiee/utils/js/load-highlight.js" defer></script>



  
  <hr>
  <div class="copyright">© <a href="/">Luo Hao</a> 2016 - 2024</div>
  
  </footer>
  </article>
  
  


  </body>
</html>

